* {
    all: unset;
}

menu {
    background-color: @headerbar_bg_color;
    color: @headerbar_fg_color;
    padding: 4px;
    border-radius: 6px;
}

menuitem {
    padding: 2px 5px;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out;
}

menuitem:hover {
    background-color: lighter(@headerbar_bg_color);
}

tooltip {
    color: @theme_fg_color;
    background-color: @headerbar_bg_color;
    border: 0.5px solid @wm_borders_edge;
    border-radius: 5px;
}

button {
    transition:
        color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;
}

/* Switch stuff, idk how to style it properly so i just copy pasted adw-gtk3 */

switch {
    outline-offset: -4px;
    padding: 3px;
    border-radius: 14px;
    color: @window_fg_color;
    background-color: alpha(currentColor, 0.15);
}
switch:hover:not(:checked) {
    background-color: alpha(currentColor, 0.2);
}
switch:checked {
    color: @accent_fg_color;
    background-color: @accent_bg_color;
}
switch:checked:hover {
    background-image: image(alpha(currentColor, 0.1));
}
switch:checked:hover:active {
    background-image: image(rgba(0, 0, 0, 0.2));
}
switch:checked:disabled {
    background-color: alpha(@accent_bg_color, 0.5);
}
switch:disabled {
    color: mix(@window_fg_color, @window_bg_color, 0.5);
    border-color: transparent;
    background-color: mix(
        mix(currentColor, @window_bg_color, 0.81),
        @window_bg_color,
        0.3
    );
    text-shadow: none;
}
switch slider {
    margin: 0px;
    min-width: 20px;
    min-height: 20px;
    background-color: mix(white, @view_bg_color, 0.2);
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -gtk-outline-radius: 20px;
}
switch image {
    color: transparent;
}
switch:hover slider {
    background-color: white;
}
switch:checked > slider {
    background-color: white;
}
switch:disabled slider {
    background-color: mix(@view_bg_color, mix(white, @view_bg_color, 0.2), 0.5);
    box-shadow: none;
}

/* Bar */
window.bar {
    background-color: black;
    color: @theme_fg_color;
}

window.bar label {
    font-weight: bold;
}

window.bar button:hover {
    color: darker(@theme_fg_color);
}

.workspaces {
    background-color: lighter(@headerbar_bg_color);
    border-radius: 10px;
    padding: 0 4px;
    margin: 3px;
    min-height: 17px;
}

.workspaces button,
.workspaces button.focused {
    border-radius: 10px;
}

.workspaces button {
    background-color: darker(@theme_fg_color);
    padding: 4px;
    margin: 5px 2px;
    transition:
        padding 0.1s ease-in-out,
        margin 0.1s ease-in-out,
        color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;
}

.workspaces button:hover {
    background-color: @theme_fg_color;
}

.workspaces button.focused {
    background-color: @theme_fg_color;
    padding: 5px 9px;
    margin: 4px 2px;
}

.tray button {
    padding: 2px;
    margin: 2px;
}

.media {
    border-radius: 50px;
    margin: 2px 0;
    background-color: lighter(@headerbar_bg_color);
    padding: 1px 4px;
    font-size: 14px;
}

.media button {
    margin: 2px;
}

.battery {
    margin-right: 3px;
}

.battery label {
    margin: 3px 0 0 2px;
}

/* Notifications */
levelbar block,
highlight {
    min-height: 10px;
}

window.notification-popups box.notifications {
    padding: 0.5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_fg_color;
}

.actions .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

/* Sidebar */
window.sidebar {
    background-color: @sidebar_bg_color;
    border-radius: 10px;
}

window.sidebar notebook > stack {
    background-color: @theme_bg_color;
    min-width: 30em;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
}

window.sidebar notebook > header {
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
}

window.sidebar notebook > header image {
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 5px 0;
}

window.sidebar .applauncher .entry {
    background-color: @sidebar_bg_color;
    padding: 10px;
    border-radius: 5px;
}

window.sidebar notebook > stack .applauncher button {
    padding: 5px;
    border-radius: 5px;
}

window.sidebar notebook > stack .applauncher button:hover,
window.sidebar notebook > stack .applauncher button:focus {
    background-color: lighter(@theme_bg_color);
}

window.sidebar notebook > stack .quick_settings .powerprofiles_toggle {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: @sidebar_bg_color;
}

window.sidebar notebook > stack .wifi_menu {
    background-color: @sidebar_bg_color;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

window.sidebar notebook > stack .wifi_menu .wifi_selection {
    background-color: @theme_bg_color;
    padding: 5px;
    border-radius: 5px;
}

window.sidebar notebook > stack .wifi_menu .wifi_header image {
    margin: 0 7px 0 5px;
}

window.sidebar notebook > stack .wifi_menu .wifi_header {
    padding: 5px;
    padding-bottom: 8px;
}

window.sidebar notebook > stack .wifi_menu .wifi_header switch {
    margin-left: 12px;
}

window.sidebar notebook > stack .wifi_menu .wifi_header switch image {
    margin: unset;
}

window.sidebar notebook > stack .wifi_menu .wifi_header button image {
    margin-left: 15px;
}

window.sidebar notebook > stack .wifi_menu .wifi_selection box {
    background-color: @sidebar_bg_color;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
}

window.sidebar notebook > stack .wifi_menu .wifi_selection image {
    margin: 0 7px 0 5px;
}

window.sidebar notebook > stack .wifi_menu .wifi_selection box button {
    background-color: lighter(@sidebar_bg_color);
    padding: 5px;
    border-radius: 5px;
}

/* OSD */
window.volume_osd box,
window.brightness_osd box {
    background-color: @theme_bg_color;
    border-radius: 40px;
    padding: 8px;
    margin: 7px;
    min-width: 250px;
    min-height: 25px;
    border: 1px solid @theme_fg_color;
}

window.volume_osd scale trough,
window.brightness_osd scale trough {
    background-color: darker(darker(darker(@theme_fg_color)));
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 12px;
    min-height: 10.5px;
}

window.volume_osd highlight,
window.brightness_osd highlight {
    background-color: @theme_fg_color;
    border-radius: 10px;
}

window.volume_osd scale.low highlight,
window.brightness_osd scale.low highlight {
    min-width: 10px;
}

window.volume_osd image,
window.brightness_osd image {
    margin-left: 6px;
}
